@import "../../styles//variables.scss";

.scroll-to-top {
    width: 2em;
    height: 2em;
    font-size: 20px;
    background-color: $main;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 8em;
    right: 1em;
    visibility: visible;

    &.hidden {
        visibility: hidden;
    }
}