// colors
$bg1: #1f2837;
$bg2: #28354b;
$bg3: #131c2b;

$headerbg: #1f283785;

$main: #42b5c7;
$main-s: #1c8d9e;

$sec: #0e6f7e70;
$sec-s: #147281a3;

$sec: #209bad70;
$sec-s: #3ab7ca9d;

$white: #fff;
$smoke: #b3acac;
$black: #1d1a1a;

$transition-300: all 300ms;
$transition-500: all 500ms;

// breakpoints
$breakpoint-md: 992px;
$breakpoint-mob: 620px;
$breakpoint-sm: 576px;

// media queries
$media-query-md: "screen and (max-width: #{$breakpoint-md})"; // medium
$media-query-mob: "screen and (max-width: #{$breakpoint-mob})"; // mobile
$media-query-sm: "screen and (max-width: #{$breakpoint-sm})"; // mobile
