// colors
$bg1: #1f2837;
$bg2: #28354b;
$bg3: #131c2b;

$headerbg: #1f283785;

$main: #42b5c7;
$main-s: #1c8d9e;

$sec: #0e6f7e70;
$sec-s: #147281a3;

$white: #fff;
$smoke: #b3acac;
$black: #1d1a1a;

$transition-300: all 300ms;

$breakpoint: 820px;
$breakpoint1: 820px;
$media-query-1: "screen and (max-width: #{$breakpoint1})";
