@import "../../styles//variables.scss";

@mixin clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.latest {
  padding: 1em;
  margin: 3em 0 0 0;

  @media #{$media-query-mob} {
    margin-top: 2em;
  }

  h2 {
    margin-bottom: 1em;
  }
}

.latest-card {
  width: 100%;
  height: 22em;
  margin-top: 1em;
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
  background-color: $bg3;
  padding: 1em;
  transition: background-color 400ms;

  &:hover {
    background-color: $bg2;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  @media #{$media-query-md} {
    flex-direction: column;
    height: auto;

    &:nth-child(odd) {
      flex-direction: column;
    }
  }

  &:hover {
    figure {
      img {
        transform: scale(1.1);
      }
    }
  }

  figure {
    width: 40%;
    height: 100%;
    overflow: hidden;

    @media #{$media-query-md} {
      width: 100%;
      height: 10em;
      display: flex;
      justify-content: flex-start;
      // margin-left: 1em;
    }

    @media #{$media-query-mob} {
      justify-content: center;
      background-color: aliceblue;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: $transition-300;

      @media #{$media-query-md} {
        width: auto;
        object-fit: cover;
      }

      @media #{$media-query-mob} {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  div {
    width: 80%;
    padding: 1em;

    @media #{$media-query-md} {
      width: 100%;
    }

    h3 {
      text-align: center;
      @include clamp(2);
      margin-bottom: 1em;

      @media #{$media-query-md} {
        text-align: left;
      }
    }

    p {
      @include clamp(6);
      margin-bottom: 1em;
      font-size: 14px;
      line-height: 32px;
      width: 100%;
    }

    .read-more-latest {
      padding: 0.5em 1em;
      color: $white;
      background-color: $main;
      border-radius: 5px;
      font-size: 14px;
      position: relative;
      overflow: hidden;
      z-index: 0;

      &:hover {
        background-color: $main-s;       
      }

      @media #{$media-query-md} {
        padding: 0.35em 0.75em;
      }
    }
  }
}
