@import '../../styles/variables.scss';
$breakpoint : 920px;
$media-query: "screen and (max-width: #{$breakpoint})";

header {
    width: 100%;
    height: 4em;
    background-color: #1f28375e;    
    background-color: #2b6ee2;    
    transition: height 500ms;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);

    @media #{$media-query} {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

header{
    .logo {
        width: 15em;
        height: 5em;
        background-color: red;
        height: 5em !important;
        
        img {
            height: 3em;
            @media #{$media-query}{
                height: 5em;
            }
        }
    }
}

header {
    ul {
        display: flex;
        height: 1em;
        overflow: hidden;

        @media #{$media-query} {
            flex-direction: column;
            // height: auto;
        }
    }
}

header {
    .util-btns {
        height: 4em;
        float: right;
    }
}