@import "../../styles//variables.scss";

.landing {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 20em 0 3em;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
    background-image: url("https://d19d5sz0wkl0lu.cloudfront.net/dims4/default/8cc4eae/2147483647/resize/800x%3E/quality/90/?url=https%3A%2F%2Fatd-brightspot.s3.amazonaws.com%2F45%2Fb8%2Fda6f0e164398b79ebe1985a28ad9%2Fadobestock-325326436.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    filter: brightness(50%);

    @media #{$media-query-md} {
      height: 50vh;
    }
  }

  @media #{$media-query-md} {
    height: 55vh;
    padding-right: 6em;
  }

  @media #{$media-query-mob} {
    height: 45vh;
  }

  div {
    h1 {
      opacity: 0.95;

      @media #{$media-query-md} {
        font-size: 1.25em;
        width: 100%;
      }

      @media #{$media-query-mob} {
        padding-top: 3em;
      }
    }

    h2 {
      opacity: 0.85;
      font-weight: 600;
    }

    button {
      border: none;
      border-radius: 5px;
      background-color: $main;
      color: $white;
      margin-top: 1em;
      transition: $transition-300;
      font-size: 14px;
      padding: 0.5em 1em;

      &:hover {
        background-color: $main-s;
      }
    }
  }
}
